body {
    font-family: sans-serif;
    background-color: #f8f8f8;
    text-align: center;
    padding: 50px;
}

.container {
    max-width: 600px;
    margin: auto;
}

img {
    width: 150px;
    border-radius: 50%;
    border: 3px solid #0077cc;
}

h1 {
    color: #0077cc;
}

.menu a {
    margin: 0 10px;
    text-decoration: none;
    color: #78b689;
    background-color: #786a8e;
    padding: 10px 15px;
    border-radius: 5px;
}

.menu a:hover {
    background-color: #dcb52c;
}
